.footer-container {
  display: flex;
  margin-top: 80px;
  background-color: #24a36f;
  justify-content: space-between;
  position: relative;
}

.box-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.box-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 30px;
  margin-bottom: 20px;
}

ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

li {
  font-size: 15px;
  margin-top: 8px;
  list-style: none;
}
